<a href="https://colab.research.google.com/github/tpgus2603/2024S-Ajou-ML/blob/main/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW1 :: EDA & Classificaion

## 코랩과 구글 드라이브 연동하기

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# pwd 명령어로 현재 위치 확인
!pwd

/content

In [ ]:
cd content

/content

In [ ]:
ls

drive/  sample_data/

In [ ]:
# # 이 노트북 파일이 저장되어 있는 디렉토리 위치까지 옮기기
cd /drive

NameError: name 'cd' is not defined

---

## 데이터 불러오기 & 살펴보기

In [6]:
# 이번 과제는 numpy, pandas와 같은 데이터를 불러내고 확인, 처리,
# 수정 등을 쉽게 할 수 있는 library를 사용합니다.

# 모듈 이름 뒤에 as를 쓰고 별칭을 적으면 해당 별칭으로 모듈을 호출할 수 있습니다.
# 모듈명: numpy, 별칭: np => numpy를 쓰는 대신 np를 써서 numpy 호출
# 모듈명: pandas, 별칭: pd => pandas를 쓰는 대신 pd를 써서 pandas 호출
import numpy as np
import pandas as pd

In [7]:
# './'는 이 노트북 파일의 현재 위치를 뜻 합니다.
# 노트북 파일과 같은 위치에 데이터 파일을 두어야 아래와 같이 데이터 파일을 불러올 수 있습니다.
# kaggle 원본 데이터 파일과 다릅니다. 반드시 제공된 데이터를 사용하세요!
path = '/content/drive/MyDrive/marketing_campaign_new.csv'

# pandas의 read_csv 함수를 사용하여 csv파일을 DataFrame으로 불러옵니다.
data = pd.read_csv(path)

In [8]:
# DataFrame 혹은 Series와 같은 자료구조에 shape함수를 통해 데이터의 크기와
# 변수의 갯수를 대략적으로 알 수 있습니다.

data.shape # (10000, 23) => 10000 개의 row(행), 23 개의 column(열)을 가진 데이터

(2240, 27)

In [ ]:
# head() 함수를 이용하여 해당 데이터의 맨 위 5개의 원소를 볼 수 있습니다.
# 더 많은 행을 보고 싶다면 ()안에 숫자를 넣어주시면 됩니다.

data.head(40)

,ID,Gender,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Customer Type,AcceptedCmp,Complain,Response
0,5524,0,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,...,88,3,8,10,4,7,VIP,0,0,1
1,2174,0,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,...,6,2,1,1,2,5,common,0,0,0
2,4141,0,1965,Graduation,Married,71613.0,0,0,21-08-2013,26,...,42,1,8,2,10,4,VIP,0,0,0
3,6182,1,1984,Graduation,Married,26646.0,1,0,10-02-2014,26,...,5,2,2,0,4,6,common,0,0,0
4,5324,1,1981,PhD,Married,58293.0,1,0,19-01-2014,94,...,15,5,5,3,6,5,common,0,0,0
5,7446,1,1967,Master,Married,62513.0,0,1,09-09-2013,16,...,14,2,6,4,10,6,VIP,0,0,0
6,965,0,1971,Graduation,Divorced,55635.0,0,1,13-11-2012,34,...,27,4,7,3,7,6,common,0,0,0
7,6177,1,1985,PhD,Married,33454.0,1,0,08-05-2013,32,...,23,2,4,0,4,8,common,0,0,0
8,4855,1,1974,PhD,Married,30351.0,1,0,06-06-2013,19,...,2,1,3,0,2,9,common,0,0,1
9,5899,1,1950,PhD,Married,5648.0,1,1,13-03-2014,68,...,13,1,1,0,0,20,common,3,0,0
10,1994,1,1983,Graduation,Married,52247.0,1,0,15-11-2013,11,...,1,1,1,0,2,7,common,0,0,0
11,387,0,1976,Basic,Married,7500.0,0,0,13-11-2012,59,...,16,1,2,0,3,8,common,0,0,0
12,2125,1,1959,Graduation,Divorced,63033.0,0,0,15-11-2013,82,...,30,1,3,4,8,2,common,0,0,0
13,8180,1,1952,Master,Divorced,59354.0,1,1,15-11-2013,53,...,14,3,6,1,5,6,common,0,0,0
14,2569,0,1987,Graduation,Married,17323.0,0,0,10-10-2012,38,...,5,1,1,0,3,8,common,0,0,0
15,2114,1,1946,PhD,Single,82800.0,0,0,24-11-2012,23,...,45,1,7,6,12,3,VIP,1,0,1
16,9736,0,1980,Graduation,Married,41850.0,1,1,24-12-2012,51,...,4,3,3,0,3,8,common,0,0,0
17,4939,0,1946,Graduation,Married,37760.0,0,0,31-08-2012,20,...,28,2,4,1,6,7,common,0,0,0
18,6565,1,1949,Master,Married,76995.0,0,1,28-03-2013,91,...,176,2,11,4,9,5,VIP,1,0,0
19,2278,0,1985,2n Cycle,Single,33812.0,1,0,03-11-2012,86,...,39,2,2,1,3,6,common,0,0,0
20,9360,0,1982,Graduation,Married,37040.0,0,0,08-08-2012,41,...,48,1,4,2,5,8,common,0,0,0
21,5376,0,1979,Graduation,Married,2447.0,1,0,06-01-2013,42,...,1,15,0,28,0,1,VIP,0,0,0
22,1993,1,1949,PhD,Married,58607.0,0,1,23-12-2012,63,...,19,3,2,3,9,8,VIP,4,0,0
23,4047,0,1954,PhD,Married,65324.0,0,1,11-01-2014,0,...,5,3,6,2,9,4,common,0,0,0
24,1409,1,1951,Graduation,Married,40689.0,0,1,18-03-2013,69,...,99,7,7,1,5,8,common,0,0,0
25,7892,1,1969,Graduation,Single,18589.0,0,0,02-01-2013,89,...,13,2,2,1,3,7,common,0,0,0
26,2404,1,1976,Graduation,Married,53359.0,1,1,27-05-2013,4,...,41,4,5,1,4,7,common,0,0,0
27,5255,0,1986,Graduation,Single,52247.0,1,0,20-02-2013,19,...,362,0,27,0,0,1,VIP,0,0,0
28,9422,1,1989,Graduation,Married,38360.0,1,0,31-05-2013,26,...,10,2,2,1,4,3,common,0,0,0
29,1966,0,1965,PhD,Married,84618.0,0,0,22-11-2013,96,...,0,1,6,9,10,2,VIP,5,0,0
30,6864,1,1989,Master,Divorced,10979.0,0,0,22-05-2014,34,...,4,2,3,0,3,5,common,0,0,0
31,3033,1,1963,Master,Married,38620.0,0,0,11-05-2013,56,...,89,1,2,5,3,3,common,0,0,0
32,5710,0,1970,Graduation,Married,40548.0,0,1,10-10-2012,31,...,3,2,2,1,4,5,common,4,0,0
33,7373,0,1952,PhD,Divorced,46610.0,0,2,29-10-2012,8,...,43,6,4,1,6,6,common,0,0,1
34,8755,0,1946,Master,Married,68657.0,0,0,20-02-2013,4,...,22,1,3,5,9,7,VIP,0,0,0
35,10738,0,1951,Master,Single,49389.0,1,1,29-08-2013,55,...,3,1,2,0,3,7,common,0,0,0
36,4339,1,1970,PhD,Married,67353.0,0,1,31-12-2013,37,...,35,5,5,6,12,2,VIP,0,0,0
37,10755,0,1976,2n Cycle,Married,23718.0,1,0,02-09-2013,76,...,36,3,3,1,2,7,common,0,0,0
38,8595,1,1973,Graduation,Divorced,42429.0,0,1,11-02-2014,99,...,4,2,1,1,3,5,common,0,0,0
39,2968,0,1943,PhD,Divorced,48948.0,0,0,01-02-2013,53,...,42,2,7,10,5,6,VIP,3,0,1

In [ ]:
# tail() 함수를 이용하여 해당 데이터의 맨 뒤 5개의 원소를 볼 수 있습니다.
# 더 많은 행을 보고 싶다면 ()안에 숫자를 넣어주시면 됩니다.

data.tail()

,ID,Gender,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Customer Type,Z_CostContact,AcceptedCmp,Complain,Response
2235,10870,F,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,...,2,9,3,4,5,VIP,18.0,0,0,0
2236,4001,F,1946,PhD,Married,64014.0,2,1,10-06-2014,56,...,7,8,2,5,7,common,NaN,1,0,0
2237,7270,M,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,...,1,2,3,13,6,VIP,NaN,4,0,0
2238,8235,M,1956,Master,Married,69245.0,0,1,24-01-2014,8,...,2,6,5,10,3,VIP,93.0,0,0,0
2239,9405,F,1954,PhD,Married,52869.0,1,1,15-10-2012,40,...,3,3,1,4,7,common,29.0,0,0,1

In [ ]:
# DataFrame을 이루고 있는 column의 이름을 확인합니다.

data.columns

Index(['ID', 'Gender', 'Year_Birth', 'Education', 'Marital_Status', 'Income',
       'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines',
       'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntToyProducts', 'MntGoldProds', 'NumDealsPurchases',
       'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases',
       'NumWebVisitsMonth', 'Customer Type', 'Z_CostContact', 'AcceptedCmp',
       'Complain', 'Response'],
      dtype='object')

In [ ]:
# DataFrame을 이루고 있는 column 별 데이터의 타입을 확인합니다.

data.dtypes

In [ ]:
# describe()는 각 column에 대해 통계량을 요약해주는 함수입니다.
# 기본적으로 NaN(누락데이터)는 제외하고 데이터 요약이 수행됩니다.

data.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Z_CostContact,AcceptedCmp,Complain,Response
count,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,240.000000,2240.000000,2240.000000,2240.000000
mean,5592.159821,1968.805804,52247.248661,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,44.021875,2.325000,4.084821,2.662054,5.790179,5.316518,49.370833,0.584821,0.009375,0.149107
std,3246.662198,11.984069,25037.797168,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,52.167439,1.932238,2.778714,2.923101,3.250958,2.426645,30.033454,1.313666,0.096391,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2828.250000,1959.000000,35538.750000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,9.000000,1.000000,2.000000,0.000000,3.000000,3.000000,23.000000,0.000000,0.000000,0.000000
50%,5458.500000,1970.000000,51741.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,24.000000,2.000000,4.000000,2.000000,5.000000,6.000000,49.500000,0.000000,0.000000,0.000000
75%,8427.750000,1977.000000,68289.750000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,56.000000,3.000000,6.000000,4.000000,8.000000,7.000000,74.250000,0.000000,0.000000,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,362.000000,15.000000,27.000000,28.000000,13.000000,20.000000,99.000000,5.000000,1.000000,1.000000

In [ ]:
# mode()는 각 컬럼에 대해 최빈값을 계산해주는 함수입니다.
# 기본적으로 NaN(누락데이터)는 제외하고 데이터 요약이 수행됩니다.
# mode() 함수는 모든 컬럼 유형에 대해 작동하며, 숫자형, 문자열, 범주형 데이터 등 모든 컬럼 타입에서 사용할 수 있습니다.

data.mode().iloc[0]

ID                              0
Gender                          M
Year_Birth                 1976.0
Education              Graduation
Marital_Status            Married
Income                    52247.0
Kidhome                       0.0
Teenhome                      0.0
Dt_Customer            31-08-2012
Recency                      56.0
MntWines                      2.0
MntFruits                     0.0
MntMeatProducts               7.0
MntFishProducts               0.0
MntSweetProducts              0.0
MntToyProducts               17.0
MntGoldProds                  1.0
NumDealsPurchases             1.0
NumWebPurchases               2.0
NumCatalogPurchases           0.0
NumStorePurchases             3.0
NumWebVisitsMonth             7.0
Customer Type              common
Z_CostContact                32.0
AcceptedCmp                   0.0
Complain                      0.0
Response                      0.0
Name: 0, dtype: object

## 문제 1 :: 변수의 타입

* 보고서에 설명된 것을 바탕을 주어진 데이터의 변수들의 타입을 보고서에 기술하세요.

  * 작성 형식) : 1. 변수 이름: categorical
  * 작성 예시) 1. ID: Numeric

In [ ]:
data.dtypes

ID                       int64
Gender                  object
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntToyProducts         float64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
Customer Type           object
Z_CostContact          float64
AcceptedCmp              int64
Complain                 int64
Response                 int64
dtype: object

정답)

* ID:
* Gender:
* Year_Birth:
* Education:
* Marital_Status:
* Income:
* Kidhome:
* Recency:
* MntWines:
* NumWebPurchases:
* AcceptedCmp:
* Complain:
* Customer Type:
* Response:

## 결측값과 중복값 확인하기
결측값과 중복값은 데이터 분석 결과에 큰 영향을 줍니다.   
제공된 데이터에 결측값과 중복값이 있는지 알아봅시다.

In [ ]:
# isnull()는 DataFrame에 있는 결측치(NA)를 boolean 값으로 반환하는 함수입니다.
# 결측치가 있으면 True를 반환합니다.

data.isnull().head()

,ID,Gender,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Customer Type,Z_CostContact,AcceptedCmp,Complain,Response
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [ ]:
# isnull()에 sum() 를 결합하여 DataFrame에 있는 결측치의 합을 구합니다.

data.isnull().sum() # 문제3에서 KNN Imputer를 사용하여 결측값을 보정할 예정

ID                        0
Gender                    0
Year_Birth                0
Education                 0
Marital_Status            0
Income                    0
Kidhome                   0
Teenhome                  0
Dt_Customer               0
Recency                   0
MntWines                  0
MntFruits                 0
MntMeatProducts           0
MntFishProducts           0
MntSweetProducts          0
MntToyProducts          225
MntGoldProds              0
NumDealsPurchases         0
NumWebPurchases           0
NumCatalogPurchases       0
NumStorePurchases         0
NumWebVisitsMonth         0
Customer Type             0
Z_CostContact          2000
AcceptedCmp               0
Complain                  0
Response                  0
dtype: int64

In [ ]:
# Income에 있는 적은 량의 결측치는 해당 열의 평균으로 채워줍니다.

#data['Income'].fillna(data['Income'].mean(), inplace=True)
mean_income = np.floor(data['Income'].mean())
data['Income'].fillna(mean_income, inplace=True)

In [ ]:
# 결측치가 너무 많은 Z_CostContact는 결측값을 보정하여도 유의미한 데이터를 가지지 못하기 떄문에 제거해 줍니다.

data = data.drop(['Z_CostContact'], axis=1)

In [ ]:
# duplicated()는 중복된 데이터를 Series 형식으로 반환합니다.

data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2235    False
2236    False
2237    False
2238    False
2239    False
Length: 2240, dtype: bool

In [9]:
# duplicated()에 sum()을 결합하여 DataFrame에 있는 중복 데이터의 합을 구합니다.

data.duplicated().sum()

0

## 문제 2 :: 데이터 정리

### 문제 2-1
제공된 데이터에서 categorical 변수들을 주어진 조건에 따라 인코딩하고 작성한 코드를 캡처 후 보고서에 업로드 하세요.

* data에서 Gender 열의 데이터 값을 `M`(Male)일 경우 0, `F`(Female)일 경우 1로 인코딩하세요.

* data에서 Customer Type 열의 데이터 값을 `common`일 경우 0, `VIP`일 경우 1로 인코딩하세요.

* data에서 Marital_Status 열의 데이터 값을 `Single`일 경우 0, `Married`일 경우 1, `Divorced`일 경우 2로 인코딩하세요.

* data에서 Education 열의 데이터 값을 `Graduation`일 경우 0, `PhD`일 경우 1, `Master`일 경우 2, `Basic`일 경우 3, `2n Cycle`일 경우 4로 인코딩하세요.

In [14]:
data['Gender'].unique()

array(['M', 'F'], dtype=object)

In [ ]:
data['Customer Type'].unique()

array(['VIP', 'common'], dtype=object)

In [ ]:
data['Marital_Status'].unique()

array([0, 1, 2])

In [ ]:
data['Education'].unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

In [15]:

################ 코드 시작  #####################


genderencode = {'M': 0, 'F': 1}    #Gender 인코딩 코드
data['Gender'] = data['Gender'].replace(genderencode)

customerencode = {'VIP': 1, 'common': 0} #customer 인코딩 코드
data['Customer Type'] = data['Customer Type'].replace(customerencode)

Materialencode = {'Single': 0, 'Married': 1,'Divorced':2}
data['Marital_Status'] = data['Marital_Status'].replace(Materialencode)


Eduencode = {'Graduation':0, 'PhD':1, 'Master':2, 'Basic':3, '2n Cycle':4}
data['Education'] = data['Education'].replace(Eduencode)

##################################################

In [16]:
# 인코딩한 데이터 열의 데이터 속성을 변환하는 코드
data['Gender'] = data['Gender'].astype('int')
data['Customer Type'] = data['Customer Type'].astype('int')
data['Marital_Status'] = data['Marital_Status'].astype('int')
data['Education'] = data['Education'].astype('int')

### 문제 2-2
오늘 날짜는 2024년 3월 16일 입니다.

`Year_Birth` 열은 현재 년도 단위로 데이터가 구성되어 있습니다.
나이 단위로 데이터를 나타내는 `Age`을 작성하고 캡처하여 보고서에 업로드 하세요.

예)  1957년도 출생 => 2024-1957=67

`DT_Customer` 열은 현재 날짜 단위로 데이터가 구성되어 있습니다.  
년 단위로 데이터를 나타내는 `CustomerTenure`을 작성하고 캡처하여 보고서에 업로드 하세요.

예) 04-09-2012 => (03-16-2024-04-09-2012)/365=11.94 (소수점 셋째자리에서 버림)

**Hint) datetime.strptime**

In [17]:
from datetime import datetime

################ 코드 시작  #####################
data['Year_Birth']=2024-data['Year_Birth']   #2024에서빼서 나이 구하기
data_format="%d-%m-%Y"  # 데이터 포맷을 연-월-일로 함
today=()

def cal(date):     #함수를 통해 모든 열에 적용
    num = datetime.strptime(date, data_format)
    today = datetime.strptime('16-03-2024', data_format)
    ans = today-num
    return int(float(ans.days/365.0)*100)/100  #소수 둘쨰자리까지 출력
data['Dt_Customer']=data['Dt_Customer'].apply(cal)


################ 코드 끝 ########################
#################################################

### 문제 2-3
`Year_Birth`와 `DT_Customer`, `Recency` 열의 이름을 각각 `Age`와 `CustomerTenure`, `Recency_in_years`로 변경하세요.

**코드를 보고서에 캡처하여 업로드하세요.**

In [18]:

################ 코드 시작  ##################

data.rename(columns={'Year_Birth': 'Age'}, inplace=True) #이름 변경
data.rename(columns={'Dt_Customer': 'CustomerTenure'}, inplace=True)
data.rename(columns={'Recency': 'Recency_in_years'}, inplace=True)


################ 코드 끝  ####################
##############################################

### 문제 2-4
`AcceptedCmp`는 고객이 어떤 캠페인에 참여했는지 나타내는 열입니다.

캠페인은 1, 2, 3, 4, 5 가 존재합니다.

**One-hot encoding**(강의노트 2번 10쪽)을 통해 `AcceptedCmp`를 5개의 열로 변경하세요.

예)  `AcceptedCmp1`, `AcceptedCmp2`, `AcceptedCmp3`, `AcceptedCmp4`, `AcceptedCmp5`

**코드를 보고서에 캡처하여 업로드하세요.**

In [19]:
################  문제 2-4  #################
# 열 이름 변경하기
# 소스코드를 입력하고 캡처 후 보고서에 업로드하세요.
# 코드 시작과 코드 끝 라인을 삭제하지 마세요.
################ 코드 시작  ##################


encoded_data = pd.get_dummies(data['AcceptedCmp'].astype(str), prefix='AcceptedCmp')   #판다스 라이브러리를 이용해 온핫코딩 진행,prefix= 데이터의 열 이름 추가
#데이터 값을 원핫코딩으로 0-1로 매핑함

encoded_data.drop('AcceptedCmp_0', axis=1, inplace=True, errors='ignore') #0인 테이블 드랍
data = data.drop('AcceptedCmp', axis=1).join(encoded_data)   #데이터 join해서 원래 데이터에 연결

################ 코드 끝  ####################
##############################################

In [20]:
data[['AcceptedCmp_1','AcceptedCmp_2','AcceptedCmp_3','AcceptedCmp_4','AcceptedCmp_5']].head(40)

    AcceptedCmp_1  AcceptedCmp_2  AcceptedCmp_3  AcceptedCmp_4  AcceptedCmp_5
0               0              0              0              0              0
1               0              0              0              0              0
2               0              0              0              0              0
3               0              0              0              0              0
4               0              0              0              0              0
5               0              0              0              0              0
6               0              0              0              0              0
7               0              0              0              0              0
8               0              0              0              0              0
9               0              0              1              0              0
10              0              0              0              0              0
11              0              0              0              0              0
12              0              0              0              0              0
13              0              0              0              0              0
14              0              0              0              0              0
15              1              0              0              0              0
16              0              0              0              0              0
17              0              0              0              0              0
18              1              0              0              0              0
19              0              0              0              0              0
20              0              0              0              0              0
21              0              0              0              0              0
22              0              0              0              1              0
23              0              0              0              0              0
24              0              0              0              0              0
25              0              0              0              0              0
26              0              0              0              0              0
27              0              0              0              0              0
28              0              0              0              0              0
29              0              0              0              0              1
30              0              0              0              0              0
31              0              0              0              0              0
32              0              0              0              1              0
33              0              0              0              0              0
34              0              0              0              0              0
35              0              0              0              0              0
36              0              0              0              0              0
37              0              0              0              0              0
38              0              0              0              0              0
39              0              0              1              0              0

In [21]:
data.columns

Index(['ID', 'Gender', 'Age', 'Education', 'Marital_Status', 'Income',
       'Kidhome', 'Teenhome', 'CustomerTenure', 'Recency_in_years', 'MntWines',
       'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntToyProducts', 'MntGoldProds', 'NumDealsPurchases',
       'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases',
       'NumWebVisitsMonth', 'Customer Type', 'Z_CostContact', 'Complain',
       'Response', 'AcceptedCmp_1', 'AcceptedCmp_2', 'AcceptedCmp_3',
       'AcceptedCmp_4', 'AcceptedCmp_5'],
      dtype='object')

In [22]:
data.head()

,ID,Gender,Age,Education,Marital_Status,Income,Kidhome,Teenhome,CustomerTenure,Recency_in_years,...,NumWebVisitsMonth,Customer Type,Z_CostContact,Complain,Response,AcceptedCmp_1,AcceptedCmp_2,AcceptedCmp_3,AcceptedCmp_4,AcceptedCmp_5
0,5524,0,67,0,0,58138.0,0,0,11.53,58,...,7,1,NaN,0,1,0,0,0,0,0
1,2174,0,70,0,0,46344.0,1,1,10.03,38,...,5,0,NaN,0,0,0,0,0,0,0
2,4141,0,59,0,1,71613.0,0,0,10.57,26,...,4,1,NaN,0,0,0,0,0,0,0
3,6182,1,40,0,1,26646.0,1,0,10.10,26,...,6,0,NaN,0,0,0,0,0,0,0
4,5324,1,43,1,1,58293.0,1,0,10.16,94,...,5,0,NaN,0,0,0,0,0,0,0

In [23]:
data.tail()

,ID,Gender,Age,Education,Marital_Status,Income,Kidhome,Teenhome,CustomerTenure,Recency_in_years,...,NumWebVisitsMonth,Customer Type,Z_CostContact,Complain,Response,AcceptedCmp_1,AcceptedCmp_2,AcceptedCmp_3,AcceptedCmp_4,AcceptedCmp_5
2235,10870,1,57,0,1,61223.0,0,1,10.76,46,...,5,1,18.0,0,0,0,0,0,0,0
2236,4001,1,78,1,1,64014.0,2,1,9.77,56,...,7,0,NaN,0,0,1,0,0,0,0
2237,7270,0,43,0,2,56981.0,0,0,10.14,91,...,6,1,NaN,0,0,0,0,0,1,0
2238,8235,0,68,2,1,69245.0,0,1,10.14,8,...,3,1,93.0,0,0,0,0,0,0,0
2239,9405,1,70,1,1,52869.0,1,1,11.42,40,...,7,0,29.0,0,1,0,0,0,0,0

In [ ]:
data['MntToyProducts'].head(30)

## 문제 3 :: KNN Imputer

### **`MntToyProducts`** 열과 연관성이 높은 열 찾기

결측값이 있는 모든 행과 결측값이 없는 데이터 사이의 거리를 구할 수 있지만, 계산 시간이 매우 오려 걸려 `MntToyProducts` 열과 가장 연관성이 높은 `Kidhome` 과의 거리를 기준으로 결측값을 보정합니다.

In [ ]:
corr = data.corr()
corr.style.background_gradient(cmap='coolwarm')

`MntToyProducts` 와 `Kidhome`의 상관 계수가 0.88인 것으로 보아 두 열이 큰 상관 관계를 가짐을 알 수 있습니다.   따라서 두 열만 골라 X라는 데이터프레임을 만듭니다.

In [38]:
X.head(20)

    MntToyProducts  Kidhome
0             44.0        0
1             97.0        1
2              0.0        0
3             53.0        1
4             53.0        1
5             39.0        0
6              9.0        0
7             69.0        1
8             71.0        1
9             86.0        1
10            73.0        1
11             6.0        0
12            24.0        0
13            74.0        1
14             NaN        0
15             1.0        0
16            88.0        1
17            39.0        0
18            23.0        0
19            96.0        1

In [24]:
X = data[['MntToyProducts', 'Kidhome']]

### 문제 3-1, 3-2
K-Nearest Neighbor Imputation(강의노트 2번 23쪽)을 이용하여 결측치 채우기

### 문제 3-1
주어진 코드틀에 데이터프레임 X와 결측값이 있는 행 데이터 간의 거리 구하는 코드를 작성하세요.  
* 주의) 코드틀 이외의 부분에 코드를 작성하지 마세요!
* 주의) 소스코드를 입력하고 캡처 후 보고서에 업로드하세요.
* 주의) 코드 시작과 코드 끝 라인을 삭제하지 마세요.

### 문제 3-2
주어진 코드틀에 k개의 "MntToyProducts" 값을 보고 평균을 내어 결측값을 결정하는 코드를 작성하세요.
* 주의) 코드틀 이외의 부분에 코드를 작성하지 마세요!
* 주의) 소스코드를 입력하고 캡처 후 보고서에 업로드하세요.
* 주의) 코드 시작과 코드 끝 라인을 삭제하지 마세요.

In [89]:
y=X.iloc[14]
y = y.drop(['MntToyProducts'])
print(y)
print(y['Kidhome'])

Kidhome    0.0
Name: 14, dtype: float64
0.0

In [26]:
from tqdm.notebook import tqdm

In [86]:
class Knn_imputer():
  def __init__(self, n_neighbors):

    ## 생성자로 최근접 이웃수(n_neighbors)를 입력 받습니다.
    self.k = n_neighbors

  ## knn 은 lazy learning 입니다.
  def fit(self,X):
      self.X = X

  def predict(self, X):
    for i in tqdm(range(len(X))):
     if pd.isnull(X['MntToyProducts'].iloc[i]): # Arrival Delay 열에 있는 결측값 확인

        distance = self.dist(X, X.iloc[i]) # 데이터프레임 X와 결측값이 있는 행 데이터 간의 거리 구하는 함수
        sorted_dist = sorted(distance.items(), key=lambda x: x[1]) # distance 를 sorting 하기

         ################  문제 3-2  ####################
         # k개의 "MntToyProducts" 값을 보고 평균 내어
         # 값을 결정하기

         # 소스코드를 입력하고 캡처 후 보고서에 업로드하세요.
         # 코드 시작과 코드 끝 라인을 삭제하지 마세요.
        ################ 코드 시작  #####################
        #거리 가까운 k개 택한 뒤 MntToyProducts값 평균 구하기
        sum=0
        cnt=0
        for key,_ in sorted_dist:
           sum+=X['MntToyProducts'].iloc[key]
           cnt+=1
           if cnt==self.k:
             break
        average=sum/self.k
        X.at[i,'MntToyProducts']=average
    return X['MntToyProducts']
        ################ 코드 끝  ######################
        ##############################################


  def dist(self, X, y):    #y는 결측 행
    num_train = X.shape[0] #행의수 즉 데이터 개수

    X = X.drop(['MntToyProducts'], axis=1) # kidhome만
    y = y.drop(['MntToyProducts'])
    dist_dict = {} ## {index : distance} 형태

    for i in range(num_train):

    ################  문제 3-1  ####################
    # 데이터프레임 X와 결측값이 있는 행 데이터 간의 거리 구하기
    # 소스코드를 입력하고 캡처 후 보고서에 업로드하세요.
    # 코드 시작과 코드 끝 라인을 삭제하지 마세요.
    ################ 코드 시작  #####################
      if pd.notnull(X['Kidhome'].iloc[i]):
        dist_dict[i] = (X['Kidhome'].iloc[i] - y['Kidhome']) ** 2

    ################ 코드 끝  ######################
    ##############################################

    return dist_dict

In [87]:
imputer = Knn_imputer(3)
imputer.fit(X)

# test set에 대해 predict를 진행합니다.
data['MntToyProducts'] = imputer.predict(X) # 오래 걸립니다

  0%|          | 0/2240 [00:00<?, ?it/s]

In [91]:
data.head()

,ID,Gender,Age,Education,Marital_Status,Income,Kidhome,Teenhome,CustomerTenure,Recency_in_years,...,NumWebVisitsMonth,Customer Type,Z_CostContact,Complain,Response,AcceptedCmp_1,AcceptedCmp_2,AcceptedCmp_3,AcceptedCmp_4,AcceptedCmp_5
0,5524,0,67,0,0,58138.0,0,0,11.53,58,...,7,1,NaN,0,1,0,0,0,0,0
1,2174,0,70,0,0,46344.0,1,1,10.03,38,...,5,0,NaN,0,0,0,0,0,0,0
2,4141,0,59,0,1,71613.0,0,0,10.57,26,...,4,1,NaN,0,0,0,0,0,0,0
3,6182,1,40,0,1,26646.0,1,0,10.10,26,...,6,0,NaN,0,0,0,0,0,0,0
4,5324,1,43,1,1,58293.0,1,0,10.16,94,...,5,0,NaN,0,0,0,0,0,0,0

In [90]:
X.isnull().sum()

MntToyProducts    0
Kidhome           0
dtype: int64

In [92]:
data.isnull().sum() # 결측값이 채워졌는지 확인

ID                        0
Gender                    0
Age                       0
Education                 0
Marital_Status            0
Income                    0
Kidhome                   0
Teenhome                  0
CustomerTenure            0
Recency_in_years          0
MntWines                  0
MntFruits                 0
MntMeatProducts           0
MntFishProducts           0
MntSweetProducts          0
MntToyProducts            0
MntGoldProds              0
NumDealsPurchases         0
NumWebPurchases           0
NumCatalogPurchases       0
NumStorePurchases         0
NumWebVisitsMonth         0
Customer Type             0
Z_CostContact          2000
Complain                  0
Response                  0
AcceptedCmp_1             0
AcceptedCmp_2             0
AcceptedCmp_3             0
AcceptedCmp_4             0
AcceptedCmp_5             0
dtype: int64

# 문제 4 :: 데이터 시각화

## 제공된 데이터를 활용하여 아래의 plot들을 그리도록 하고 캡처 후 작성한 보고서에 업로드 하세요.
- 4-1 : **box plot**
- 4-2 : **histogram plot**
- 4-3 : **bar plot**
- 4-4 : **scatter plot**

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
x = [0,1,2,3,4]
y = [0,2,4,6,8]

sns.lineplot(x = x, y = y)

In [ ]:
df = pd.DataFrame({'x':x, 'y':y})

In [ ]:
# df를 인자를 주고, 변수를 문자열로 넘겨줘서 사용할 수 있음
sns.lineplot(data=df, x = 'x', y = 'y')

In [ ]:
# 복수의 plot을 한번에 그리기

#nrows = 열, ncols = 행 (1,2)개짜리 상자를 만듬
fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(12, 6))

# 첫 번째 plot
sns.lineplot(data=df, x = 'x', y = 'y', ax=axes[0])
axes[0].set_title('1')

# 두 번째 plot
sns.lineplot(data=df, x = 'x', y = 'y', ax=axes[1])
axes[1].set_title('2')

## 문제 4-1 box plot
`Age`, `Income` 변수에 대해서 각각의 Box plot을 그리고 Treshold를 찾아 Outlier를 제거하시오.

In [ ]:
################  문제 4-1  ####################
# 소스코드를 입력하고 캡처 후 보고서에 업로드하세요.
# 코드 시작과 코드 끝 라인을 삭제하지 마세요.
################ 코드 시작  #####################




AgeTreshold =
IncomeTreshold =

################ 코드 끝  ######################
##############################################
data = data[data.Age < AgeTreshold]
data = data[data.Income < IncomeTreshold]

## 4-2 Histogram plot

`NumWebPurchases`에 대한 히스토그램을 `Marital_Status`을 고려해서 함께 그리시오.

In [ ]:
################  문제 4-2  ####################
# 소스코드를 입력하고 캡처 후 보고서에 업로드하세요.
# 코드 시작과 코드 끝 라인을 삭제하지 마세요.
################ 코드 시작  #####################



################ 코드 끝  ######################
##############################################

## 4-3 bar plot

X축 `Marital_Status` Y축을 `NumWebPurchases`로 하고 `Response`를 구분해서 bar plot을 그리시오.

In [ ]:
################  문제 4-3  ####################
# 소스코드를 입력하고 캡처 후 보고서에 업로드하세요.
# 코드 시작과 코드 끝 라인을 삭제하지 마세요.
################ 코드 시작  #####################



################ 코드 끝  ######################
##############################################

## 4-4 scatter plot

`Income`과 가장 높은 상관관계(음,양)를 지니는 변수 2개를 선택하여 scatter plot을 그리시오.

In [ ]:
corr = data.corr()
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
################  문제 4-4  ####################
# 소스코드를 입력하고 캡처 후 보고서에 업로드하세요.
# 코드 시작과 코드 끝 라인을 삭제하지 마세요.
################ 코드 시작  #####################



################ 코드 끝  ######################
##############################################

## 문제 5
- **데이터셋 분리**
- **Knn 학습 및 하이퍼파라미터 비교 그래프 그리기**
- **Decision Tree 및 하이퍼파라미터 비교 그래프 그리기**
- **최종 모델 평가 및 비교**

### train set과 test set 나누기

In [ ]:
# train과 test set을 나누기 위한 함수
from sklearn.model_selection import train_test_split

In [ ]:
# 5-1 . 데이터 스플릿
from sklearn.model_selection import train_test_split
y = data['Response'] # 정답 분리
X = data.drop(columns =['Response']) # Train셋에 정답이 있으면 안됩니다.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) # test:train = 8:2

### 문제 5-1
**`KNeighborsClassifier`**를 사용하여 주어진 조건에 맞게 모델을 학습하고 완성한 코드를 보고서에 캡처하여 업로드하세요.
* 조건 1: neighbor의 수 `k= [1, 3, 5, 15, 55, 101, 501]`으로 변화에 따른 정확도의 변화를
`line plot`으로 그리고 가장 높은 성능의 `k`를 출력하시오.
* 조건 2: train set에서 validation set을 나누세요. `train : validation = 7 : 3`

* *주의! : test set이 아닌 validation set으로 평가해야 합니다.*

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
################  문제 5-1  ####################
# 소스코드를 입력하고 캡처 후 보고서에 업로드하세요.
# 코드 시작과 코드 끝 라인을 삭제하지 마세요.
################ 코드 시작  #####################



################ 코드 끝  ######################
##############################################

In [ ]:
sns.lineplot(x = numK, y = knn_scores)

### 문제 5-2
**`DecisionTreeClassifier`**를 사용하여 주어진 조건에 맞게 모델을 학습하고 완성한 코드 및 출력물을 보고서에 캡처하여 업로드하세요.
* 조건 1: 최대 트리의 깊이를 `depth  = [1, 3, 5, 10, 15, 30, 20]`으로 변화에 따른 정확도의 변화를 `line plot`으로 그리고 가장 높은 성능의 `depth`를 출력하시오.
* 조건 2: train set에서 validation set을 나누세요. `train : validation = 7 : 3`

* *주의! : test set이 아닌 validation set으로 평가해야 합니다.*

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
################  문제 5-2  ####################
# 소스코드를 입력하고 캡처 후 보고서에 업로드하세요.
# 코드 시작과 코드 끝 라인을 삭제하지 마세요.
################ 코드 시작  #####################



################ 코드 끝  ######################
##############################################

In [ ]:
sns.lineplot(x = num_dep, y = dt_scores)

### 문제 5-3
`문제 5-1` 과 `문제 5-2`에서 찾은 best 하이퍼파라미터 (k, max depth)로 두 분류기를 전체 train set 다시 각각 학습하여 test set으로 평가하고 완성한 코드와 출력을 보고서에 캡처하여 업로드하세요.

* 위에서 찾은 최적의 하이퍼파라미터 선택
* 전체 train set으로 분류기 학습
* Test set을 통해서 평가 및 비교

In [ ]:
################  문제 5-2  ####################
# 소스코드를 입력하고 캡처 후 보고서에 업로드하세요.
# 코드 시작과 코드 끝 라인을 삭제하지 마세요.
################ 코드 시작  #####################

best_k =
best_depth =

Knn_acc =
DT_acc =
print(Knn_acc)
print(DT_acc)
################ 코드 끝  ######################
##############################################

# 깃허브에 업로드하기
* colab with github 문서 참고